/* RESET */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix{
    content: "";
    clear: both;
    display: table;
}

ul li{
    display: inline-block;
    height: 45px;
    width: 45px;
    margin-right: 2rem;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 1.5rem;
}

.buttom a{
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    vertical-align: sub;
    font-size: 15px;
    font-weight: 900;
}

.buttom:hover{
    filter: brightness(80%);
}

.buttom:nth-child(1):hover a{
    color: red;
}

.buttom:nth-child(2):hover a{
    color: green;
}

.buttom:nth-child(3):hover a{
    color: rgb(190, 190, 0);
}


.header-buttom{
    margin-top: 2rem;
    float: right;
}

header{
    width: 100vw;
    position: fixed;
    z-index: 3;
}

.scarpa{
    text-align: center;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.prova{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
}

img:nth-child(2){
    display: none;
    height: 250px;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
}

.prova img:nth-child(1){
    width: 100%;
}

.prova:hover img:nth-child(1){
    transform: scale(0.5) translate(-100%, -100%);
}

.prova:hover img:nth-child(2){
    display: block;
}

span{
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 3rem;
    font-family: sans-serif;
}

.red,.green .prova span{
    color: yellow;
}

.yellow .prova span{
    color: green;
}

